:root {
  --color-schema: light dark;
}

html {
  width: 100dvw;
  height: 100dvh;
  &.light {
    --color-schema: light;
  }
  &.dark {
    --color-schema: dark;
  }
}

body {
  color-scheme: var(--color-schema);
}

body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}
